<div class="container">
<table class="table">
			<tr>
				<th>Address ID</th>
				<th>Address Line 1</th>
				<th>City</th>
				<th>State Province</th>
				<th>Country Region</th>
				
				
			</tr>
			
			<tr *ngFor = " let address of addresses ">
			
				<td>{{address.addressID}}</td>
				<td>{{address.addressLine1}}</td>
				<td>{{address.city}}</td>
				<td>{{address.stateProvince}}</td>
				<td>{{address.countryRegion}}</td>
				
				
			</tr>
		</table>

<p-paginator rows="10" totalRecords="{{tr}}" (onPageChange)="paginate($event)"></p-paginator>
</div>
