<div class="container">
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<ul class="nav navbar-nav">
			<li><a routerLink="">Home</a></li>
			<li><a routerLink="customer">Customers</a></li>
			<li><a routerLink="product">Products</a></li>
			<li><a routerLink="address">Addresses</a></li>
			<li><a routerLink="productdescription">Product Descriptions</a></li>
			<li><a routerLink="productmodel">Product Models</a></li>
			<li><a routerLink="productcategory">Product Categories</a></li>
			<li><a routerLink="salesorderdetail">Sales order details</a></li>
			<li><a routerLink="salesorderheader">Sales order headers</a></li>
		</ul>
	</div>
</nav>
</div>
<router-outlet></router-outlet>