<div class="container">
<table class="table">
			<tr>
				<th>Product ID</th>
				<th>Name</th>
				<th>Product Number</th>
				<th>Standard Cost</th>
				<th>List Price</th>
				
			</tr>
			
			<tr *ngFor = " let product of products ">
			
				<td>{{product.productID}}</td>
				<td>{{product.name}}</td>
				<td>{{product.productNumber}}</td>
				<td>{{product.standardCost}}</td>
				<td>{{product.listPrice}}</td>
				
				
			</tr>
		</table>

<p-paginator rows="10" totalRecords="{{tr}}" (onPageChange)="paginate($event)"></p-paginator>
</div>
