<div class="container">
<table class="table">
			<tr>
				<th>Customer ID</th>
				<th>Customer title</th>
				<th>First name</th>
				<th>Middle name</th>				
				<th>Last name</th>
				
			</tr>
			
			<tr *ngFor = " let customer of customers ">
			
				<td>{{customer.customerID}}</td>
				<td>{{customer.title}}</td>
				<td>{{customer.firstName}}</td>
				<td>{{customer.middleName}}</td>
				<td>{{customer.lastName}}</td>
				
			</tr>
		</table>

<p-paginator rows="10" totalRecords="{{tr}}" (onPageChange)="paginate($event)"></p-paginator>
</div>
